.homepage{
    height: 100vh;
   
    align-items: center;
    justify-content: center;
    .cutonhome{
        width: 100%;
        height: calc(100vh - 5rem);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .imgsearc{
        
position: absolute;
right: 3rem;
top: 38px;
    }
    .topinputdiv{

     display: flex;
     align-items: center;
     justify-content: center;   
margin-top: 4rem;
    }
    input{
        width: 807.41px;
        height: 100px;
        left: 316px;
        top: 601px;
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #182542;
        opacity: 0.5;
        padding-left: 4%;
  
  
        &:focus{
            outline: -webkit-focus-ring-color auto 0px;
            width: 807.41px;
            outline-width: 0px !important;
            height: 100px;
            left: 316px;
            top: 601px;
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 15px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #182542;
            opacity: 0.5;
            padding-left: 4%;
          
        }
    }
    }
    .twobuuton
    {
        margin-top: 4rem;
            display: flex;
        align-items: center;
        justify-content: center;
    
    .hlogin{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
width: 270px;
height: 81px;
transition:all ease-in-out 0.30s;
cursor: pointer;
justify-content: center;
background: #FFFFFF;
border: 2px solid #E5E5E5;
border-radius: 5px;
color: #182542;
margin-bottom:0px;
&:hover{
   font-size: 22px;
}
    }

    .hStarted{
 font-family: Montserrat;
font-style: normal;
font-weight: 600;
transition:all ease-in-out 0.30s;
cursor: pointer;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
width: 270px;
height: 81px;
justify-content: center;
background: #18191D;;
border: 2px solid #18191D;;
border-radius: 5px;
color: #FFFFFF;
margin-bottom:0px;
margin-left:1rem;
&:hover{
   font-size: 22px;
}
    }
  
}

.bottombrand{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    p{
        font-family: Montserrat;
font-style: normal;
font-weight: 600;
margin: 0;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
margin-bottom: 0;
color: #18191D;

    }
    .notshowmobile{
        display: flex;
                }
    label{
        transition:all ease-in-out 0.30s; 
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #18191D;
        border: 2px solid #E5E5E5;
        border-radius: 5px;
        height: 2rem;
        width: 7rem;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
        &:hover{
            font-size: 18px;
        }  
        .showmobile{
            display: none;
                                    }     
    }
}

@media only screen and (min-width:0px) and (max-width:900px)
{


    .homepage{
        .logo{
            width: 17rem;
        }
        .bottombrand
        {
            label{
                display: none;
            }
            .notshowmobile{
                display: none;
                        }
                        .showmobile{
display: block;
                        }
        }
      
.topinputdiv{
    width: 100%;
    margin-top: 3rem;
}
.imgsearc {
    position: absolute;
    right: 10%;
    top: 30PX;
}
input{
    width: 80%;
    height: 76px;
    font-size: 14px;
}
.hStarted
{
    width: 162px;
    height: 59px;
    font-size: 19px;
}



.twobuuton {
    margin-top: 3rem;
}
.hlogin{
    
        width: 162px;
        height: 59px;
        font-size: 19px;
    }
}
    

}
